node_modules
.DS_Store

# Local env files
.env.local
.env.*.local

# Build output
dist
.output
.tanstack
.nitro

# Panda
src/styled-system
styled-system-studio

# GraphQL codegen
src/__generated__

# Vite
.vite

# TypeScript
*.tsbuildinfo

# Storybook
storybook-static
