@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  @theme {
    --color-background: #db5c8a;
    --color-foreground: #ffffff;

    --color-card-background: #ffffff24;
    --color-card-foreground: #ffffff;
    --color-card-border: #ffffff38;

    --color-primary: #fcd945;
    --color-primary-darkened: #efcd40;
    --color-primary-foreground: #221e1f;
    --color-secondary: #2a7bd4;
    --color-secondary-darkened: #2570c3;
    --color-secondary-foreground: #ffffff;
    --color-accent: #52a658;
    --color-accent-darkened: #47914c;
    --color-accent-foreground: #ffffff;
    --color-destructive: #e63d36;
    --color-destructive-darkened: #cf3832;
    --color-destructive-foreground: #ffffff;
    --color-muted: #ffeaf3;
    --color-muted-foreground: #ffd4e7;

    --color-ink: #221e1f;
    --color-rule-icon: #221e1f;
    --color-shape-yellow: #fcd945;
    --color-shape-blue: #2a7bd4;
    --color-shape-green: #52a658;

    --radius-card: 1.5rem;
    --radius-button: 1rem;

    --shadow-card: 0 18px 30px rgba(0, 0, 0, 0.16);

    --text-display: 2.625rem;
    --text-display--line-height: 2.5rem;
    --text-title: 2rem;
    --text-title--line-height: 2.125rem;
    --text-heading: 1.25rem;
    --text-heading--line-height: 1.625rem;
    --text-body: 0.9375rem;
    --text-body--line-height: 1.4rem;
    --text-caption: 0.8125rem;
    --text-caption--line-height: 1.15rem;
    --text-button: 1.25rem;
    --text-button--line-height: 1.4rem;
    --text-metric: 1.625rem;
    --text-metric--line-height: 1.75rem;

    --text-subtitle: 1.125rem;
    --text-subtitle--line-height: 1.5rem;
  }
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}
