name: "backend-ci"
on:
  push:
    branches: [master]
  pull_request:
permissions:
  contents: read
concurrency:
  group: backend-ci-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    working-directory: backend
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, intl, curl, redis
      - name: Cache composer dependencies
        uses: actions/cache@v4
        id: cache-dependencies
        with:
          path: ~/.cache/composer/files
          key: ${{ runner.os }}-composer-${{ hashFiles('backend/composer.lock') }}-${{ hashFiles('.github/.ci-cache') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Install Dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-progress --ignore-platform-reqs
      - name: Run Pint
        run: |
          ./vendor/bin/pint --test
  typecheck:
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, intl, curl, redis
      - name: Cache composer dependencies
        uses: actions/cache@v4
        id: cache-dependencies
        with:
          path: ~/.cache/composer/files
          key: ${{ runner.os }}-composer-${{ hashFiles('backend/composer.lock') }}-${{ hashFiles('.github/.ci-cache') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Install Dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-progress --ignore-platform-reqs
      - name: Run PHPStan
        run: |
          ./vendor/bin/phpstan
