name: "backend-ci"
on:
  push:
    branches: [master]
  pull_request:
permissions:
  contents: read
concurrency:
  group: backend-ci-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    working-directory: backend
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - &checkout_step
        name: Checkout Commit
        uses: actions/checkout@v4

      - &setup_php_step
        name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: mbstring, intl, curl, redis

      - &cache_composer_step
        name: Cache composer dependencies
        uses: actions/cache@v4
        id: cache-dependencies
        with:
          path: ~/.cache/composer/files
          key: ${{ runner.os }}-composer-${{ hashFiles('backend/composer.lock') }}-${{ hashFiles('.github/.ci-cache') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - &install_backend_dependencies_step
        name: Install Dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-progress --ignore-platform-reqs

      - name: Run Pint
        run: |
          ./vendor/bin/pint --test

  typecheck:
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - *checkout_step
      - *setup_php_step
      - *cache_composer_step
      - *install_backend_dependencies_step

      - name: Run PHPStan
        run: |
          ./vendor/bin/phpstan
