name: 'frontend-ci'
on:
  push:
    branches: [master]
  pull_request:
permissions:
  contents: read
concurrency:
  group: frontend-ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --filter "./frontend..."

      - name: Run lint
        run: |
          pnpm --filter "./frontend" lint
      - name: Check formatting
        run: |
          pnpm --filter "./frontend" format:check
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --filter "./frontend..."

      - name: Check types
        run: |
          pnpm --filter "./frontend" ts:check
  build:
    runs-on: ubuntu-latest
    needs: [lint, typecheck]
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --filter "./frontend..."

      - name: Run build
        run: |
          pnpm --filter "./frontend" build
